/*
 * Custom Styles
 */
html{
  font-size: 12.5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav{
  background-color: #2196f3;
}

.side-nav .collapsible-body li.active a, .side-nav.fixed .collapsible-body li.active, .side-nav li:hover 
{
  color: black !important;
}

.divider{
  margin-top:10px;
}

.page-footer .row{
margin-bottom: 0px;
}

.pagination li.active{
  background-color: #2196f3;
}

/*Card*/
.card .card-content{
  border-radius:0;
}

.card .card-content p{
  font-size:12px;
  font-weight: 900;
}

.card .card-action {
    border-top: none;
    padding: 5px;
}
/*End: Card*/

/*Page Title*/
header div.row {
  margin-bottom: 0px;
}

.page-title{
  font-size: 35px;
}

.page-title em {
  font-size: 18px;
  float: right;
  padding-right: 10px;
}

/*End: Page Title*/

/*Tables*/
td, th{
  padding:10px 3px;
}

td a{
  /*padding-right:5px;*/
  padding-left:5px;
}
/*End: Tables*/

/*Tables: Search*/
.input-field input[type="search"]{
	padding-left: 0.9rem;
	padding-right: 3em;
}
.input-field input[type="search"] ~ .mdi-navigation-close{
	top: -7px;
	font-size: 1rem;
}
/*End: Tables: Search*/

/*Login Page*/
#login .col .row .col{
  margin:0 auto;
  float:none;
}
/* End: Login Page*/

/*Forms*/
form .row{
  margin-bottom:6px;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  height: 1.2rem;
}
.input-field{
  padding-left: 10px;
}

.input-field label{
  top:-0.1rem;
}

input[type=text]:disabled{
  color: black;
}

input[type=text]:disabled+label{
  color: black;
}

#attachments button{
  letter-spacing: 0px;
}

#attachments div.row div.col{
  padding-left: 0px;
}

.modal-content .card{
  margin-left:5px;
  width: 166px;
  float:left;
  min-height: 184px;
}

.modal-content .card .card-content {
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
}

.modal-content .card .card-action{
  font-size: 10px;
  padding: 5px;
}

 textarea.materialize-textarea:disabled+label, 
 textarea.materialize-textarea[readonly="readonly"]+label,
 textarea.materialize-textarea:disabled{
  color:black;
  height:auto;
}
/*End: Forms*/

/*Profile Page*/
.select-wrapper span.caret{
  top:0px;
}
#department label{
  top: -1.5rem;
}
#department .select-wrapper input.select-dropdown{
  height:1rem;
  margin: 0px 0px 2px;
}
/*End: Profile Page*/

/*Footer*/
footer.page-footer{
  background-color: #2196f3;
}

footer.page-footer .footer-copyright{
  background-color: #1976d2;
}
/*End: Footer*/

/*User Created General Classes*/
.padding-left-25{
  padding-left: 25px;
}

.errors{
  color: red;
  font-size: 13px;
  font-style: italic;
}
/*End: User Created General Classes*/

/*Width*/
@media only screen and (min-width: 993px) {
    .container {
        width: 92%
    }
}
/*End: Width*/

/*Form Inputs and Labels Edits*/
.select-wrapper input.select-dropdown{
	line-height: 0em;
	height: 1.364rem;
}

label[for="project_type"], #container_req_ref label
{
	top: -1.0rem;
}

#btn_modal_rfc_request_reference
{
	width: 59px;
    padding: 1px;
    float: right;
    top: -16px;
}

label[for="rfc_ref_no"]
{
	top: -1.4rem;
}

label[for="rfc_ref_no"].active
{
	transform: translateY(-30%); 
}

input[name=rfc_ref_no]{
	height: 1.2rem;
    width: 70%;
}

#btn_modal_rfc_request_reference .btn i
{
	    font-size: 0.9rem;
}

textarea{
	border: none;
}
/*End: Form Inputs and Labels Edits*/